services:
    cups:
        build: .
        container_name: Cups
        restart: unless-stopped
        env_file:
            - .env
        ports:
            - "631:631"
        devices:
            - /dev/bus/usb:/dev/bus/usb
